<!DOCTYPE HTML>
<html>
	<head>
		<title>Realizar una predicción</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" />
	</head>
	<body class="is-preload">
		<div class="container-fluid" style="min-height:100%; width:80%;">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-warning alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" style="box-shadow:none;" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

		<!-- Highlights -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
					<h1>Logistic Regression</h1>
					<p>Modelo de aprendizaje supervisado</p>
				</header>
			</div>

			<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="content">

					<!-- Elements -->
						<div class="row">
							<div class="col-6 col-12-medium">
								<h3>Predicción Simple</h3>
								<br/>
								<p>Realiza una predicción simple con el siguiente formulario.</p>
							</div>
							<div class="col-6 col-12-medium">
								<!-- Form -->
								<form action="/predict_form" method="POST" enctype="multipart/form-data">
									<div id="divForm" class="row gtr-uniform">
										<div id="inputDynamic" class="col-6 col-12">
											{% for i in columns %}
												<input type="text" name="{{ i }}" placeholder="{{ i }}" required="required" /><br/>
											{% endfor %}
										</div>
										<div class="col-6 col-12">
											<ul class="actions">	
												<li><input type="submit" value="Ejecutar" class="primary" /></li>
												<li><a href="javascript:history.back()" class="button">Volver</a></li>
											</ul>
										</div>
									</div>
								</form>
								<p>{{ prediction }}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<h6>MLaaS - Machine Learning as a Service</h6>
				<p>Trabajo Fin de Grado</p>
				<div class="copyright">
					<p>&copy; Kevin Carracedo Vázquez. Grado en Ingeniería Informática. Universidad de Almería.</p>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/browser.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/breakpoints.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/util.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
	</body>
</html>